.site-main {
    & .post-header {
        & > .block:has(.content.top) {
            position: relative;

            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                height: 1px;
                background-color: var(--line-2);
                z-index: 1;
                animation: border-expand 1s ease .5s forwards;
            }

            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                height: 1px;
                background-color: var(--line-2);
                z-index: 1;
                animation: border-expand 1s ease 1s forwards;
            }

            & .background-breadcrumbs {
                content: "";
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                height: 100%;
                background-color: var(--background-breadcrumbs);
                z-index: -1;
                animation: border-expand 1s ease forwards;
            }

            & .content.top {
                position: relative;
                display: flex;
                align-items: start;
                justify-content: space-between;
                gap: 50px;
                padding: 13px 0;
                overflow: hidden;

                & .breadcrumbs {
                    display: inline-flex;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: 5px 10px;
                    transform: translateX(-100%);
                    animation: breadcrumbs-entrance .6s ease .6s forwards;

                    & a {
                        transition: color .3s ease;

                        &:first-child {
                            & svg {
                                width: 17px;
                                height: 17px;
                                position: relative;
                                top: 1px; 
                                margin-right: 7px;
                            }
                        }

                        &:hover {
                            color: var(--color-link);
                        }
                    }
                }
            }
        }
    }
}

@keyframes border-expand {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes breadcrumbs-entrance {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}