#main .container--title .section {
    padding: 30px 0;
}

#main .container--posts .section .posts {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

#main .container--posts .section .posts .archive-post > *:not(:last-child) {
    margin-bottom:10px;
}

#main .container--posts .section .posts .archive-post .archive-post--header {
    position: relative;
}

#main .container--posts .section .posts .archive-post .archive-post--header .post-categories {
    margin: 0;
    padding: 0;
    list-style: none;
    position:absolute;
    top:10px;
    left:10px;
    display:inline-flex;
    flex-wrap: wrap;
}

#main .container--posts .section .posts .archive-post .archive-post--header .post-categories li a {
    color: #fff;
    background-color: green;
    padding:5px 10px;
    border-radius:4px;
    display:flex;
    flex-wrap:nowrap;
}

#main .container--posts .section .posts .archive-post .archive-post--header .thumbnail {
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    border-radius: 8px;
}

#main .container--posts .section .posts .archive-post .archive-post--content > *:not(:last-child) {
    margin-bottom:10px;
}

#main .container--posts .section .posts .archive-post .archive-post--content .archive-post--permalink {
    display: inline-flex;
    flex-wrap: wrap;
}

#main .container--posts .section .posts .archive-post .archive-post--content .tags {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0 10px;
}

#main .container--posts .section .posts .archive-post .archive-post--content .tags a {
    display: flex;
    flex-wrap: nowrap;
}