#main .container--posts .section aside > *:not(:last-child) {
    margin-bottom:50px;
}

aside ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

aside ul li:not(:last-child) {
    border-bottom: 1px solid var(--wp--preset--color--accent-6);
}

aside ul li a {
    display: inline-flex;
    align-items: center;
    gap: 7px;
    padding:9px 0;
    transition: color .3s ease;
}

aside li:has(a:hover):not(:last-child),
aside li:has(a):not(:last-child):hover {
    border-bottom: 1px solid color-mix(in srgb, currentColor 5%, transparent);
}

aside a:hover {
    color: var(--wp--preset--color--category);
}

aside .wp-block-group :is(ul,ol,p) {
    visibility: hidden;
}

aside .wp-block-group :is(ul,ol,p) > * {
    visibility: visible;
    transition: all .3s;
}

aside .wp-block-group :is(ul:hover,ol:hover,p:hover) > :not(:hover) {
    opacity: .25;
}

aside .wp-block-search .wp-block-search__inside-wrapper {
    position:relative;
}

@media(min-width:1096px) {

    .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)){
        max-width: 100%;
    }

    #main .container--posts .section,
    .site-main .post-body .section{
        display: grid;
        grid-template-columns: 1fr 290px;
        gap: 0 90px;
    }
    
}

@media(min-width:1024px) and (max-width:1366px) {
    #main .container--posts .section aside{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap:50px;
    }
}