.site-main {
    & :is(.container--posts,.post-body) {
        & .content {
            & aside {
                overflow: hidden;

                & > *:not(:last-child) {
                    margin-bottom: 50px;
                }

                & ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    &.wp-block-latest-posts {
                        & li {
                            & a {
                                display: grid;
                                grid-template-columns: auto 1fr;
                                gap: 15px;
                                align-items: center;

                                & .wp-post-image {
                                    width: 100px;
                                    aspect-ratio: 3 / 2;
                                    object-fit: cover;
                                    display: block;
                                    border-radius: 1rem;
                                    corner-shape: squircle;
                                }

                                & .latest-post-content {
                                    display: grid;
                                    grid-template-rows: 1fr auto;
                                    gap: 5px;
                                    align-items: end;

                                    & .latest-post-date {
                                        font-size: var(--wp--preset--font-size--small);
                                        opacity: .5;
                                    }
                                }
                            }
                        }
                    }

                    & li {
                        &:not(:last-child) {
                            border-bottom: 1px solid var(--wp--preset--color--accent-6);
                        }

                        &:has(a:hover):not(:last-child),
                        :has(a):not(:last-child):hover {
                            border-bottom: 1px solid color-mix(in srgb, currentColor 5%, transparent);
                        }

                        & a {
                            display: inline-flex;
                            align-items: center;
                            gap: 7px;
                            padding:9px 0;
                            transition: color .3s ease;

                            &:hover {
                                color: var(--color-link-hover);
                            }
                        }
                    }
                }

                & .wp-block-group {
                    & > * {
                        transition: transform .6s ease-in-out;
                        transform: translateX(-120%);
                    }

                    &.animate-in {
                        & > * {
                            animation: widget-entrance .6s ease forwards;
                        }  
                    }

                    & .wp-block-heading {
                        margin-bottom: 1.2rem;
                    }

                    & :is(ul,ol,p) {
                        visibility: hidden;

                        & > * {
                            visibility: visible;
                            transition: all .3s;
                        }
                    }

                    & :is(ul:hover,ol:hover,p:hover) {
                        & > :not(:hover) {
                           opacity: .25; 
                        }
                    }
                }

                & .wp-block-search {
                    &.animate-in {
                        > .wp-block-search__inside-wrapper {
                            animation: widget-entrance .6s ease forwards;
                        }
                    }

                    & .wp-block-search__inside-wrapper {
                        position:relative;
                        transition: transform .6s ease-in-out;
                        transform: translateX(-120%);
                    }
                }
            }
        }
    }
}

@media(max-width:1365px) {
    .site-main .post-body .content .post-body--content {
        padding-bottom: 50px;
    }
}

@media(min-width:1366px) {

    .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)){
        max-width: 100%;
    }

    #main .container--posts .content,
    .site-main .post-body .content{
        display: grid;
        grid-template-columns: 1fr 290px;
        gap: 0 90px;
    }
    
}

@media(min-width:1024px) and (max-width:1365px) {
    #main .container--posts .content aside{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap:50px;
    }
}

@keyframes widget-entrance {
    0% {
        transform: translateX(-120%);
    }

    100% {
        transform: translateX(0);
    }
}