.site-main .post-header .section.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.site-main .post-header .section.top .breadcrumbs {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.site-main .post-body .section {
    padding:50px 0;
}

.site-main .post-body .section .post-body--content.is-layout-constrained > .wp-block-heading {
    margin-block-start: 3rem;
}