.site-main .post-header .section.top .breadcrumbs,
.site-main .post-header .section.top .post-categories li a,
.site-main .post-header .section.middle,
.site-main .post-header .section.bottom {
    color: #fff;
}

@media(min-width:768px) {
    :is(.post-template-default) #main-header .header-content { /* styles for home */
        background-color: var(--wp--preset--color--bg-main-navigation);
        width: fit-content;
        grid-template-columns: repeat(3, auto);
        border-radius: 6px;
    }
    
    :is(.post-template-default) #main-header .header-content > *:not(:nth-child(1), :last-child):after { /* styles for home */
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 1px;
        height: 43.8px;
        background: linear-gradient(to bottom, transparent 10%, var(--wp--preset--color--cyan-bluish-gray) 40%, var(--wp--preset--color--cyan-bluish-gray) 60%, transparent 90%);
    }
    
    :is(.post-template-default) #main-header .header-content .site-brand a { /* styles for home */
        padding: 9.31px 20px;
    }
    
    :is(.post-template-default):is(.scroll-down,.scroll-up) #main-header .header-content { /* scroll styles on single */
        width: min(100% - 30px, 1096px);
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        background-color: transparent;
        border-radius: 0;
        transition: all .3s ease;
    }
    
    :is(.post-template-default):is(.scroll-down,.scroll-up) #main-header .header-content > *:not(:nth-child(1), :last-child):after { /* scroll styles on single */
        content: none;
    }
}