.site-main .post-header > :nth-child(1) {
    background-color: var(--wp--preset--color--bg-breadcrumbs);
    border-top: 1px solid var(--wp--preset--color--border-breadcrumbs);
    border-bottom: 1px solid var(--wp--preset--color--border-breadcrumbs);
}

.site-main .post-header .section.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 13px 0;
}

.site-main .post-header .section.top .breadcrumbs {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.site-main .post-header .section.top .breadcrumbs a:first-child svg {
    width: 17px;
    height: 17px;
    position: relative;
    top: 1px; 
    margin-right: 7px;
}

.site-main .post-header .section.top .post-categories {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-flex;
}

.site-main .post-header .section.top .post-categories li a {
    display: inline-flex;
    align-items: center;
    gap: 7px;
}

.site-main .post-header .section.middle .post-header--title {
    text-align: center;
    padding: 100px 0;

}

.site-main .post-header .section.middle .author{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 13px;
    max-width: 140px;
    text-align: left;
    margin-inline: auto;
}

.site-main .post-header .section.middle .author .author-name {}

.site-main .post-header .section.middle .author .avatar {
    grid-row: 1 / 3;
    border-radius: 50%;
}

.site-main .post-header .section.middle .author .author-position {
    font-size:var(--wp--preset--font-size--small);
    opacity: .5;
}

.site-main .post-body .section {
    padding:50px 0;
}

.site-main .post-body .section .post-body--content.is-layout-constrained > .wp-block-heading {
    margin-block-start: 3rem;
}